In [1]:
num=24
print(num)

24

In [2]:
a=23
print(type(a))
print(a)

<class 'int'>
23

In [3]:
n=None
print(n)
print(type(n))

None
<class 'NoneType'>

In [4]:
## input function
name=input("enter your name")
print(name)
print(type(name))

enter your nameaditya
aditya
<class 'str'>

In [6]:
x=input()
## type() gives string
print(type(x))
## input gives int
print(input())

3
<class 'str'>
3
3

In [7]:
## type conversion
x='1.5'
y=float(x)
print(y)
print(type(y))

1.5
<class 'float'>

In [8]:
x=input()
print(type(x))
b=int(x)
print(b)
print(type(b))

4
<class 'str'>
4
<class 'int'>

In [9]:
c=float("1.5")
print(type(c))
b=int(c)
print(b)

<class 'float'>
1

In [10]:
## printing of multiple values
print("a")
print('a',"b","c",23,24,25)

a
a b c 23 24 25

In [11]:
## sep=-> points one value to other value
print("a",23,sep='->')

a->23

In [12]:
## sep=\n keeps values in next line
print("a",23,sep='\n')

a
23

In [14]:
## changing default value of separator
print('a',26,end=' ')
print("b",24)

a 26 b 24

In [15]:
print("a",26,sep='\n',end='->')
print('b',24)

a
26->b 24

In [17]:
type(1)
type("1")

str

In [19]:
## string concatenation
first="aditya"
second="sai"
print(first+second)
print(first*3)

adityasai
adityaadityaaditya

In [23]:
## modulus operator
a=10
b=3
print(a,b)
print(a%b)
##Floor division gives quotient rounded to nearest integer
print(a//b)

10 3
1
3

In [25]:
##comparision operators
a=6
b=7
print(a==b)
print(a>b)
print(a<b)
print(a<=b)
print(b>=a)

False
False
True
True
True

In [26]:
## assignment operators
a=5
a=a+3
print(a)

8

In [30]:
## Logical operators
2>3 and 6>5

False

In [31]:
2>3 or 4<2

False

In [32]:
## special operators
name="aditya"
print("a" in name)
print("a" not in name)

True
False

In [34]:
## is operator checks if the two values are in same memory location
a=10
b=10
print(a is b)
print(id(a),id(b))

True
11642376 11642376

In [39]:
## Syntax of if else
age=int(input())
if age>18:
         print("eligible")
else:
    print("not eligible")

34
eligible

In [40]:
## nested if else
age=int(input())
if age>18:
         print("eligible")
else:
    if age==18:
        print("just eligible")
    else:
        print("not eligible")

34
eligible

In [41]:
## if elif and else
num=int(input())
if num>0:
    print("positive")
elif num==0:
    print("zero")
else:
    print("negative")

-9
negative

In [44]:
## grading system
marks=int(input())
if marks>90:
    print("A")
elif marks>80:
    print("B")
elif marks>70:
    print("C")
elif marks>60:
    print("D")
elif marks>50:
    print("E")
else:
   print("Invalid")

78
C

In [46]:
## print largest find max in a list
marks=[90,80,70,60,50,150]
max=marks[0]
for i in marks:
    if i>max:
        max=i
print(max)

150

In [48]:
## loops while loop
i=1
while(i<=10):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [50]:
## print even numbers in a given range
i=0
while i<=10:
  if i%2==0:
    print(i)
  i=i+1

0
2
4
6
8
10

In [51]:
## print sum of all numbers from 1 to 10
i=1
add=0;
while i<=10:
  add=add+i
  i=i+1
print(add)

55

In [52]:
## range function
list(range(5))

[0, 1, 2, 3, 4]

In [54]:
## for loop   multiplication table
n=int(input())
for i in range (1,11):
          print(i*n)

5
5
10
15
20
25
30
35
40
45
50

In [56]:
## print pattern
n=int(input())
for i in range(5):
  print()
  for i in range(4):
    print('#',end=" ")
  print("#",end=" ")
  print()

4

# # # # #

# # # # #

# # # # #

# # # # #

# # # # #

In [60]:
## Print pattern 2
n=int(input())
for i in range(1,n+1):
  for j in range(i):
    print("#",end=" ")
  print()

5
#
# #
# # #
# # # #
# # # # #

In [64]:
## Break continue and pass statements
n=int(input())
for i in range(1,10):
       pass
for i in range(1,10):
  if i==5:
    continue
    print(i)

4

In [68]:
## Strings
'ab'=='ba'
ord('A')

65

In [69]:
chr(52)

'4'

In [76]:
## String slicing
name='aditya sai'
name[8]
name[0:3]
name[::3]
size=len(name)