In [2]:
## String concatenation
first=input()
second=input()
print(first + second)

we
are
weare

In [3]:
## string formatting
name=input()
age=int(input())
print("My name is {} and my age is {}".format(name,age))

aditya
21
My name is aditya and my age is 21

In [4]:
## print all vowels of a given string
text=input()
vowels=['a','e','i','o','u']
for i in text:
    if i in vowels:
        print(i)

aei
a
e
i

In [5]:
## find if a string is palindrome
s=input()
if s==s[::-1]:
  print("yes")
else:
    print("no")

121
yes

In [6]:
## lists
## lsit slicing
l=[1,2,3,4,5,6]
len(l)
l[::-1]
l[5:0:-1]

[6, 5, 4, 3, 2]

In [13]:
l=[100,200,300,450,1000]
l.index(300)
print(l)
l.remove(450)
print(l)

[100, 200, 300, 450, 1000]
[100, 200, 300, 1000]

In [16]:
## Indexing in 2 d list
l=[[1,2,3],[3,4,5],[4,5,6],[5,6,7]]
print(l[0])
## iteration in 2d list
for i in l:
    print(i)
    for i in l:
        print(i)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[3, 4, 5]
[4, 5, 6]
[5, 6, 7]
[3, 4, 5]
[1, 2, 3]
[3, 4, 5]
[4, 5, 6]
[5, 6, 7]
[4, 5, 6]
[1, 2, 3]
[3, 4, 5]
[4, 5, 6]
[5, 6, 7]
[5, 6, 7]
[1, 2, 3]
[3, 4, 5]
[4, 5, 6]
[5, 6, 7]

In [18]:
## list comprehension
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
## Find population
l=[4,5,6,7,8,9,10,3,2]
population=0
for i in l:
  population+=i
print(population)

54

In [21]:
## Tuples
t=("abc","abd","rty")
print(type(t))
print(type([t[1]]))

<class 'tuple'>
<class 'list'>

In [22]:
t5=tuple("abcdef")
print(t5)

('a', 'b', 'c', 'd', 'e', 'f')

In [24]:
## Mutability in tuples
t=([1,3,4,5],"Rahul")
print(type(t))
print(type(t[0]))
print(type(t[0][0]))

<class 'tuple'>
<class 'list'>
<class 'int'>

In [27]:
t=(1,2,3,4)
type(t)
t.count(1)
t.index(1)
len(t)
t1=(5,6,7,8)
t2=t+t1
print(t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [28]:
## Dictionaries
d={}
print(type(d))
print(d)
{}

<class 'dict'>
{}

{}

In [37]:
## find Frequnency of letters in a string
name=input()
freq={}
for i in name:
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1
print(freq)

aditya
{'a': 2, 'd': 1, 'i': 1, 't': 1, 'y': 1}

In [38]:
## Sets
s=set()
print(type(s))
type(s)

<class 'set'>

set

In [40]:
s=set("rahul")
type(s)
print(s)
for i in s:
  print(i)

{'a', 'h', 'r', 'u', 'l'}
a
h
r
u
l

In [42]:
python={"1","2","3","4"}
java={"3","5","8"}
print(python.union(java))
print(python.difference(java))
print(python.intersection(java))

{'2', '8', '5', '4', '1', '3'}
{'2', '4', '1'}
{'3'}

In [53]:
## Functions
def greet():
  print("hello world")
greet()

hello world

In [56]:
## Doc Strings
def greet():
  """
  This function greets everyone when it is called
  """
  print("Hey, have a good day")

In [57]:
greet()

Hey, have a good day

In [68]:
def add(a,b):
    c=a+b
    print(c)
add(3,5)

8

In [76]:
## lambda function: used when we need name less functions for a short period of time
def add(a,b):
  return a+b;
add(3,4)
## using lambda function
(lambda a, b: a if a > b else b)(43.5, 21)

43.5

In [77]:
(lambda a, b: a if a>b else b)(43,5)

43

In [81]:
def even(li):
    for i in li:
        if i % 2 == 0:
            print(i)

lst = [1, 2, 3, 4, 5]
even(lst)

2
4